n8n_workflow/career_advisor.json
{
  "name": "AI 커리어 어드바이저",
  "nodes": [
    {
      "parameters": {
        "formTitle": "맞춤 커리어 액션 추천 서비스",
        "formDescription": "이력서, 자기소개서, 포트폴리오 등 본인의 경험이 담긴 PDF를 업로드하세요. AI가 분석 후 맞춤 액션 리포트를 이메일로 보내드립니다.",
        "formFields": {
          "values": [
            { "fieldLabel": "이름", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "이메일", "fieldType": "email", "requiredField": true },
            { "fieldLabel": "pdf", "fieldType": "file", "requiredField": true, "acceptFileTypes": ".pdf" }
          ]
        },
        "options": {}
      },
      "id": "node-form",
      "name": "프로필 폼",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 400],
      "webhookId": "career-advisor-form"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/document-ai/document-parse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [{ "parameterType": "formBinaryData", "name": "document", "inputDataFieldName": "pdf" }]
        },
        "options": {}
      },
      "id": "node-docparse",
      "name": "Document Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "credentials": { "httpHeaderAuth": { "id": "upstage-api-key", "name": "Upstage API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const result = $json;\nlet fullText = '';\nif (result.content && result.content.html) {\n  fullText = result.content.html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n} else if (result.content && result.content.text) {\n  fullText = result.content.text;\n} else if (result.pages) {\n  fullText = result.pages.map(p => p.text || '').join('\\n');\n}\nconst name = $('프로필 폼').item.json['이름'] || 'User';\nconst email = $('프로필 폼').item.json['이메일'] || '';\nreturn [{ json: { parsedText: fullText.substring(0, 4000), name, email } }];"
      },
      "id": "node-extract",
      "name": "텍스트 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const { parsedText, name, email } = $json;\nconst body = JSON.stringify({\n  model: 'solar-pro3',\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 커리어 분석 전문가입니다. 반드시 순수 JSON만 출력하세요. 설명, 마크다운 코드블록, 앞뒤 텍스트 없이 { 로 시작해서 } 로 끝나는 JSON만 출력하세요.'\n    },\n    {\n      role: 'user',\n      content: `아래 문서를 분석해서 다음 JSON 형식으로만 답해줘. JSON 외 다른 텍스트는 절대 쓰지 마:\\n{\\n  \"major\": \"전공 또는 전문 분야\",\\n  \"career_goal\": \"희망 진로\",\\n  \"keywords_en\": [\"영어키워드1\",\"영어키워드2\",\"영어키워드3\"],\\n  \"keywords_kr\": [\"한국어1\",\"한국어2\",\"한국어3\"],\\n  \"company\": \"관심 기업명 (없으면 빈 문자열)\",\\n  \"summary\": \"이 사람을 한 줄로 요약\",\\n  \"career_analysis\": \"이 사람이 지금까지 해온 것들과 강점, 방향성을 3-4문장으로 따뜻하게 분석. 반드시 당신은 으로 시작\",\\n  \"strengths\": [\"강점1\",\"강점2\",\"강점3\"],\\n  \"growth_areas\": [\"성장 포인트1\",\"성장 포인트2\"],\\n  \"department\": \"electrical 또는 computer 또는 mechanical 또는 chemical 또는 business 중 하나\"\\n}\\n\\n문서:\\n${parsedText}`\n    }\n  ],\n  max_tokens: 1200\n});\nreturn [{ json: { body, name, email } }];"
      },
      "id": "node-prep-llm",
      "name": "커리어 분석 프롬프트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.body }}",
        "contentType": "raw",
        "rawContentType": "application/json",
        "options": {}
      },
      "id": "node-solar-analysis",
      "name": "Solar 커리어 분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "credentials": { "httpHeaderAuth": { "id": "upstage-api-key", "name": "Upstage API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content;\nconst name = $('커리어 분석 프롬프트').item.json.name;\nconst email = $('커리어 분석 프롬프트').item.json.email;\nlet p;\ntry {\n  p = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim());\n} catch(e) {\n  p = { major:'미분류', career_goal:'미설정', keywords_en:['AI','technology'], keywords_kr:['AI','기술'], company:'', summary:'분석 오류', career_analysis:'분석 중 오류가 발생했습니다.', strengths:[], growth_areas:[], department:'engineering' };\n}\nconst profile = {\n  name, email,\n  major: p.major,\n  career_goal: p.career_goal,\n  keywords_en: p.keywords_en || [],\n  keywords_kr: p.keywords_kr || [],\n  company: p.company || '',\n  summary: p.summary,\n  career_analysis: p.career_analysis,\n  strengths: p.strengths || [],\n  growth_areas: p.growth_areas || [],\n  department: p.department || 'engineering',\n  updatedAt: new Date().toISOString()\n};\nconst base64 = Buffer.from(JSON.stringify(profile, null, 2)).toString('base64');\nreturn [{ json: profile, binary: { data: { data: base64, mimeType: 'application/json', fileName: 'user_profile.json' } } }];"
      },
      "id": "node-parse-result",
      "name": "프로필 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "// TODO: Supabase/임베딩 저장은 나중에 추가\nreturn [];"
      },
      "id": "node-placeholder",
      "name": "저장 (비활성)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 620],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const profile = $json;\nconst kwEn = (profile.keywords_en || []).slice(0,3).join(' OR ');\nconst kwKr = (profile.keywords_kr || []).slice(0,3).join(' ');\nconst company = profile.company || '';\nconst dept = profile.department || 'engineering';\n\nconst deptMap = {\n  'electrical': '전기전자공학부', 'electronic': '전기전자공학부',\n  'computer': '컴퓨터공학부', 'software': '소프트웨어학부',\n  'mechanical': '기계공학부', 'chemical': '화학공학부',\n  'business': '경영학부', 'medicine': '의과대학',\n  'physics': '물리학부', 'math': '수학과', 'engineering': '공과대학'\n};\nconst deptName = Object.entries(deptMap).find(([k]) => dept.toLowerCase().includes(k))?.[1] || '공과대학';\n\nconst feeds = [\n  { type: '링커리어', url: `https://news.google.com/rss/search?q=${encodeURIComponent('site:linkareer.com ' + kwKr)}&hl=ko&gl=KR&ceid=KR:ko` },\n  { type: '대외활동/공모전', url: `https://news.google.com/rss/search?q=${encodeURIComponent(kwKr + ' 공모전 대외활동 모집')}&hl=ko&gl=KR&ceid=KR:ko` },\n  { type: '인턴십/채용', url: `https://news.google.com/rss/search?q=${encodeURIComponent(kwKr + ' 인턴 채용 모집')}&hl=ko&gl=KR&ceid=KR:ko` },\n  { type: '업계뉴스(한)', url: `https://news.google.com/rss/search?q=${encodeURIComponent(kwKr)}&hl=ko&gl=KR&ceid=KR:ko` },\n  { type: '업계뉴스(영)', url: `https://news.google.com/rss/search?q=${encodeURIComponent(kwEn)}&hl=en&gl=US&ceid=US:en` },\n  { type: '기업뉴스', url: company ? `https://news.google.com/rss/search?q=${encodeURIComponent(company)}&hl=ko&gl=KR&ceid=KR:ko` : `https://news.google.com/rss/search?q=${encodeURIComponent(kwKr + ' 기업 뉴스')}&hl=ko&gl=KR&ceid=KR:ko` },\n  { type: '대학공지/세미나', url: `https://news.google.com/rss/search?q=${encodeURIComponent(deptName + ' 세미나 특강 공지 모집')}&hl=ko&gl=KR&ceid=KR:ko` },\n  { type: 'HackerNews', url: 'https://hnrss.org/frontpage?count=10' }\n];\n\nreturn feeds.map(f => ({ json: { url: f.url, type: f.type, profile, deptName } }));"
      },
      "id": "node-collect",
      "name": "데이터 수집",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "node-rss-fetch",
      "name": "RSS 피드 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "// 각 RSS 응답을 파싱해서 타이틀 + 링크 추출\nconst xml = $json.data || '';\nconst type = $('데이터 수집').item.json.type;\nconst profile = $('데이터 수집').item.json.profile;\nconst deptName = $('데이터 수집').item.json.deptName;\n\nfunction parseItems(xml, max) {\n  const items = [];\n  const itemMatches = xml.matchAll(/<item>([\\s\\S]*?)<\\/item>/g);\n  for (const m of itemMatches) {\n    const block = m[1];\n    const titleMatch = block.match(/<title>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/);\n    const linkMatch = block.match(/<link>([^<]+)<\\/link>/) || block.match(/<guid[^>]*>([^<]+)<\\/guid>/);\n    const sourceMatch = block.match(/<source[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/source>/);\n    const title = titleMatch ? titleMatch[1].replace(/<[^>]*>/g,'').trim() : '';\n    const link = linkMatch ? linkMatch[1].trim() : '';\n    const source = sourceMatch ? sourceMatch[1].trim() : '';\n    if (title && !title.includes('Google News') && title.length > 5) {\n      items.push({ title, link, source });\n    }\n    if (items.length >= max) break;\n  }\n  return items;\n}\n\nconst items = parseItems(xml, 6);\nreturn [{ json: { type, items, profile, deptName } }];"
      },
      "id": "node-rss-parse",
      "name": "RSS 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "// 모든 RSS 결과를 하나로 합치기 (링크 포함)\nconst allItems = $input.all();\nconst results = {};\nlet profile = null;\nlet deptName = '공과대학';\n\nfor (const item of allItems) {\n  const { type, items } = item.json;\n  if (!profile) {\n    profile = item.json.profile;\n    deptName = item.json.deptName;\n  }\n  results[type] = items || [];\n}\n\n// Solar에게는 오늘의 미션만 요청 (데이터 섹션은 직접 HTML로 만듦)\nconst fmt = (type, max) => {\n  const items = results[type] || [];\n  return items.length > 0 ? items.slice(0,max).map((t,i) => `${i+1}. ${t.title}`).join('\\n') : '없음';\n};\n\nconst allContent = `[링커리어/대외활동]\\n${fmt('링커리어',4)}\\n${fmt('대외활동/공모전',3)}\\n\\n[채용/인턴]\\n${fmt('인턴십/채용',4)}\\n\\n[뉴스]\\n${fmt('업계뉴스(한)',3)}\\n${fmt('업계뉴스(영)',2)}\\n\\n[대학공지]\\n${fmt('대학공지/세미나',3)}`;\n\nconst body = JSON.stringify({\n  model: 'solar-pro3',\n  messages: [\n    {\n      role: 'system',\n      content: `당신은 ${profile.name}님의 커리어 코치입니다. 프로필: 전공 ${profile.major}, 희망진로 ${profile.career_goal}, 관심분야 ${[...profile.keywords_en, ...profile.keywords_kr].join(', ')}\\n\\n위 실제 데이터를 참고해서 🎯 오늘의 커리어 미션 딱 1가지만 제안하세요. 2~3문장으로 구체적이고 실천 가능하게. 마크다운 사용 금지.`\n    },\n    { role: 'user', content: allContent }\n  ],\n  max_tokens: 300\n});\n\nreturn [{ json: { body, profile, deptName, results } }];"
      },
      "id": "node-report-prep",
      "name": "리포트 프롬프트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.body }}",
        "contentType": "raw",
        "rawContentType": "application/json",
        "options": {}
      },
      "id": "node-solar-report",
      "name": "Solar 리포트 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 400],
      "credentials": { "httpHeaderAuth": { "id": "upstage-api-key", "name": "Upstage API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const mission = $json.choices[0].message.content.replace(/\\*\\*([^*]+)\\*\\*/g,'$1').replace(/\\*([^*]+)\\*/g,'$1').trim();\nconst profile = $('리포트 프롬프트').item.json.profile;\nconst deptName = $('리포트 프롬프트').item.json.deptName;\nconst results = $('리포트 프롬프트').item.json.results || {};\nconst today = new Date().toLocaleDateString('ko-KR', { year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' });\n\n// RSS 아이템을 링크 카드 HTML로 변환\nconst buildCards = (types, max, borderColor) => {\n  const items = [];\n  for (const type of types) {\n    for (const item of (results[type] || [])) {\n      items.push(item);\n      if (items.length >= max) break;\n    }\n    if (items.length >= max) break;\n  }\n  if (items.length === 0) return '<p style=\"color:#9ca3af;font-size:13px;margin:8px 0;\">현재 관련 정보가 없습니다.</p>';\n  return items.map(item => {\n    const titleHtml = item.link\n      ? `<a href=\"${item.link}\" style=\"color:#1d4ed8;font-weight:600;text-decoration:none;font-size:14px;\">${item.title}</a>`\n      : `<span style=\"font-weight:600;font-size:14px;\">${item.title}</span>`;\n    const sourceHtml = item.source ? `<span style=\"font-size:11px;color:#9ca3af;margin-left:6px;\">· ${item.source}</span>` : '';\n    return `<div style=\"margin:8px 0;padding:10px 14px;background:#f9fafb;border-radius:8px;border-left:3px solid ${borderColor};\">${titleHtml}${sourceHtml}</div>`;\n  }).join('');\n};\n\n// 대학공지: 출처 표시 강화\nconst buildUniCards = (max) => {\n  const items = results['대학공지/세미나'] || [];\n  if (items.length === 0) return '<p style=\"color:#9ca3af;font-size:13px;margin:8px 0;\">현재 관련 정보가 없습니다.</p>';\n  return items.slice(0, max).map(item => {\n    const titleHtml = item.link\n      ? `<a href=\"${item.link}\" style=\"color:#1d4ed8;font-weight:600;text-decoration:none;font-size:14px;\">${item.title}</a>`\n      : `<span style=\"font-weight:600;font-size:14px;\">${item.title}</span>`;\n    const sourceHtml = item.source\n      ? `<div style=\"margin-top:4px;\"><a href=\"${item.link||'#'}\" style=\"font-size:11px;color:#8b5cf6;text-decoration:none;\">📎 ${item.source} 바로가기</a></div>`\n      : '';\n    return `<div style=\"margin:8px 0;padding:10px 14px;background:#f9fafb;border-radius:8px;border-left:3px solid #8b5cf6;\">${titleHtml}${sourceHtml}</div>`;\n  }).join('');\n};\n\nconst strengths = (profile.strengths||[]).map(s => `<li style=\"margin:4px 0;\">${s}</li>`).join('');\nconst growthAreas = (profile.growth_areas||[]).map(g => `<li style=\"margin:4px 0;\">${g}</li>`).join('');\nconst hasAnalysis = profile.career_analysis && profile.career_analysis !== '분석 중 오류가 발생했습니다.';\n\nconst html = `<!DOCTYPE html>\n<html>\n<head><meta charset='utf-8'></head>\n<body style='font-family:-apple-system,BlinkMacSystemFont,sans-serif;max-width:640px;margin:0 auto;padding:16px;color:#333;background:#f3f4f6;'>\n<div style='background:white;border-radius:16px;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.1);'>\n\n  <div style='background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);padding:24px 28px;color:white;'>\n    <h1 style='margin:0 0 4px;font-size:20px;font-weight:700;'>📬 ${profile.name}님의 맞춤 커리어 리포트</h1>\n    <p style='margin:0;opacity:0.85;font-size:13px;'>${today}</p>\n    ${profile.summary && profile.summary !== '분석 오류' ? `<p style='margin:10px 0 0;background:rgba(255,255,255,0.15);padding:8px 12px;border-radius:8px;font-size:13px;'>📌 ${profile.summary}</p>` : ''}\n  </div>\n\n  <div style='padding:20px 24px;'>\n\n    ${hasAnalysis ? `\n    <div style='background:#f8f9ff;border-left:4px solid #667eea;padding:14px 16px;border-radius:0 8px 8px 0;margin-bottom:16px;'>\n      <h2 style='margin:0 0 8px;color:#667eea;font-size:14px;font-weight:700;'>🔍 AI가 본 당신</h2>\n      <p style='margin:0;line-height:1.8;font-size:13px;color:#444;'>${profile.career_analysis}</p>\n    </div>\n    <div style='display:flex;gap:10px;margin-bottom:20px;'>\n      <div style='flex:1;background:#fff7ed;padding:12px;border-radius:8px;'>\n        <div style='font-size:12px;font-weight:700;color:#92400e;margin-bottom:6px;'>💪 강점</div>\n        <ul style='margin:0;padding-left:14px;color:#555;font-size:12px;'>${strengths}</ul>\n      </div>\n      <div style='flex:1;background:#f0fdf4;padding:12px;border-radius:8px;'>\n        <div style='font-size:12px;font-weight:700;color:#166534;margin-bottom:6px;'>🌱 성장 포인트</div>\n        <ul style='margin:0;padding-left:14px;color:#555;font-size:12px;'>${growthAreas}</ul>\n      </div>\n    </div>` : ''}\n\n    <h2 style='color:#f59e0b;font-size:15px;margin:20px 0 8px;border-bottom:2px solid #fef3c7;padding-bottom:6px;'>🏆 오늘 신청할 대외활동/공모전</h2>\n    ${buildCards(['링커리어','대외활동/공모전'], 5, '#f59e0b')}\n\n    <h2 style='color:#3b82f6;font-size:15px;margin:20px 0 8px;border-bottom:2px solid #dbeafe;padding-bottom:6px;'>💼 놓치면 안될 채용/인턴 정보</h2>\n    ${buildCards(['인턴십/채용'], 5, '#3b82f6')}\n\n    <h2 style='color:#10b981;font-size:15px;margin:20px 0 8px;border-bottom:2px solid #d1fae5;padding-bottom:6px;'>📰 오늘 꼭 읽어야 할 업계 뉴스</h2>\n    ${buildCards(['업계뉴스(한)','업계뉴스(영)','HackerNews'], 6, '#10b981')}\n\n    <h2 style='color:#8b5cf6;font-size:15px;margin:20px 0 8px;border-bottom:2px solid #ede9fe;padding-bottom:6px;'>🎓 ${deptName} 관련 대학 공지/세미나</h2>\n    ${buildUniCards(5)}\n\n    <div style='background:#fef2f2;border-radius:10px;padding:16px;margin-top:20px;'>\n      <h2 style='color:#ef4444;font-size:15px;margin:0 0 8px;'>🎯 오늘의 커리어 미션</h2>\n      <p style='margin:0;font-size:14px;line-height:1.8;color:#333;'>${mission}</p>\n    </div>\n\n  </div>\n\n  <div style='background:#f9fafb;padding:14px 24px;border-top:1px solid #e5e7eb;text-align:center;'>\n    <p style='margin:0;color:#9ca3af;font-size:11px;'>Powered by Upstage Solar AI · n8n 자동화</p>\n  </div>\n\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { html, subject: `[${today}] ${profile.name}님의 맞춤 커리어 액션 리포트`, toEmail: profile.email } }];"
      },
      "id": "node-email-prep",
      "name": "이메일 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "fromEmail": "chlgusla1@gmail.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-gmail",
      "name": "Gmail 발송",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2880, 400],
      "credentials": { "smtp": { "id": "gmail-smtp", "name": "Gmail SMTP" } }
    }
  ],
  "connections": {
    "프로필 폼": { "main": [[{ "node": "Document Parse", "type": "main", "index": 0 }]] },
    "Document Parse": { "main": [[{ "node": "텍스트 추출", "type": "main", "index": 0 }]] },
    "텍스트 추출": { "main": [[{ "node": "커리어 분석 프롬프트", "type": "main", "index": 0 }]] },
    "커리어 분석 프롬프트": { "main": [[{ "node": "Solar 커리어 분석", "type": "main", "index": 0 }]] },
    "Solar 커리어 분석": { "main": [[{ "node": "프로필 파싱", "type": "main", "index": 0 }]] },
    "프로필 파싱": {
      "main": [[
        { "node": "데이터 수집", "type": "main", "index": 0 }
      ]]
    },
    "데이터 수집": { "main": [[{ "node": "RSS 피드 호출", "type": "main", "index": 0 }]] },
    "RSS 피드 호출": { "main": [[{ "node": "RSS 파싱", "type": "main", "index": 0 }]] },
    "RSS 파싱": { "main": [[{ "node": "리포트 프롬프트", "type": "main", "index": 0 }]] },
    "리포트 프롬프트": { "main": [[{ "node": "Solar 리포트 생성", "type": "main", "index": 0 }]] },
    "Solar 리포트 생성": { "main": [[{ "node": "이메일 포맷", "type": "main", "index": 0 }]] },
    "이메일 포맷": { "main": [[{ "node": "Gmail 발송", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["career", "upstage", "gmail", "personalized"],
  "triggerCount": 0,
  "updatedAt": "2026-03-30T00:00:00.000Z",
  "versionId": "1"
}
